.lastSection {
  background: url('/index/footerBg.png') no-repeat center/ cover;
  background-color: #fffaf3;
  font-family: 'Noto Sans TC', sans-serif;
  color: #666;
}
.q-toolbar {
  @media (min-width: 992px) {
    padding: 0 10%;
  }
}
.footerToolbar {
  @media (min-width: 992px) {
    padding-top: 14%;
  }
}
.footer {
  width: 100%;
  padding-top: 40%;
  padding-bottom: 5%;
  h6 {
    margin: 0;
  }
  @media (min-width: 768px) {
    padding-top: 20%;
    padding-bottom: 0;
  }
  @media (min-width: 992px) {
    padding-top: 0%;
    // padding: 10% 10% 0 10%;
  }
  @media (min-width: 1200px) {
    // padding-top: 10%;
    // padding: 10% 10% 0 10%;
  }
}
.footerTop {
  width: 100%;
  font-size: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: pre-wrap;
  flex-wrap: wrap;
  h6 {
    line-height: 1.3rem;
  }
  @media (min-width: 992px) {
    // padding-left: 161px;
    // padding-right: 161px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    h6 {
      font-size: 1rem;
    }
  }
}
.footerBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 18px;
  padding: 0 3%;
  text-align: center;
  white-space: pre-wrap;
  h6 {
    // white-space: pre-wrap;
    font-size: 0.65rem;
    margin: 0;
    line-height: 1rem;
  }
  @media (min-width: 768px) {
    h6 {
      font-size: 0.875rem;
    }
  }
}
.footerImg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  img {
    object-fit: contain;
    width: 100px;
    height: 100px;
    @media (min-width: 768px) {
      width: 141px;
      height: 141px;
    }
  }
}
.q-card-actions {
  position: absolute;
  top: 0;
  right: 0;
}

.isUs {
  font-weight: 400;
}
.isUs1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
  .isUsImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50px;
  }
  // img {
  //   margin-right: 15px;
  // }
  h6 {
    font-size: 0.75rem;
    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
}
.messageIcon {
  margin-bottom: 18px;
  display: flex;

  justify-content: center;
  align-items: center;
  img {
    margin: 0 15px;
  }
}
.footerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .footerTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h6 {
    font-size: 0.75rem;
    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
  span {
    color: #f50077;
    cursor: pointer;
  }
  @media (min-width: 992px) {
    align-items: flex-start;
  }
}
.footerBtn {
  margin-top: 18px;
  display: flex;
  justify-content: center;
  button {
    display: flex;
    width: 150px;
    padding: 10px;
    // padding: 10px 48px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f50077;
    background-color: transparent;
    color: #f50077;
    margin: 9px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    cursor: pointer;
    @media (min-width: 992px) {
      width: 180px;
      // margin: 16px;
      font-size: 1rem;
    }
    &:hover {
      background: #f50077;
      color: #fff;
    }
    &:active {
      opacity: 0.7;
    }
  }
}
